html, body {
    height: 120%;
    margin: 0;
}

body {
    background-image: url(https://i.imgur.com/RLKaymZ.png);
}

.uk-navbar-left {
    padding-left: 10px;
}

#name {
    /* padding-top: 20px; */
    color: #C5B09D;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.uk-navbar-right {
    padding-right: 20px;
}

#links {
    font-size: 18px;
    font-family: 'Iceland', cursive;
}

#links:hover {
    color: #C5B09D;
}

.wrapper {
    min-height: 92%;
    margin-bottom: -20px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.outerbox {
    margin: 70px 150px 70px 150px;
    padding: 0 30px 0 30px;
    background-color: white;
    border: solid 1px #dddddd;
    line-height: 150%;
}

.title {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    color: #4f4f4f;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #C5B09D;
    font-size: 28px;
    /* padding: 15px 0 10px 0; */
}


#biopicdiv {
    float: left;
    padding: 5px 20px 5px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.biopic {
    object-fit: cover;
}

p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #777777;
}

.uk-cover-container {
    padding: 20px 0 30px 0;
}

#project {
    height: 100%;
    width: 100%;
}

.uk-overlay {
    height: 1px;
}

#capt1:hover {
    text-decoration: none;
}

#capt {
    font-size: 20px;
    font-family: 'Iceland', cursive;
}

#capt:hover {
    text-decoration: none;
    color: #C5B09D;
}

#contactBox {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Iceland', cursive;
}

#contactInfo {
    padding-bottom: 20px;
}

#email {
    padding-top: 20px;
}

#linkCard {
    height: 135px;
}

#linkedIn, #resume {
    color: #4f4f4f;
    font-size: 28px;
}

#linkedIn:hover {
    color: #C5B09D;
}

#resume:hover {
    color: #C5B09D;
}

.fab, .fas {
    padding: 13px;
}

#contactCard {
    margin-bottom: 20px;
}

#label {
    font-size: 18px;
}

p, #form-stacked-text, #senderMessage {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

textarea {
    resize: none;
}

.footer,
.push {
    height: 20px;
}

footer {
    padding: 20px 0 0 0;
    margin-bottom: 0;
    bottom: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 8px;
    color: white;
    text-align: center;
    background-color: #666666;
    border-top: solid 8px #C5B09D;
}

/* lg devices (desktops)  */
@media screen and (max-width: 1200px) {
    html, body {
        height: 100%;
    }

    .wrapper {
        width: 100%;
        height: 95%;
        margin-bottom: -20px;
    }
}

/* md devices (tablets) */
@media screen and (max-width: 1024px) {
    html,body {
        height: 100%;    
    }
    
    .wrapper {
        width: 100%;
        height: 90%;
        margin-bottom: -20px;
    }
}

.subnav-hero-section {
    text-align: center;
    background: #1779ba;
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
  
  .subnav-hero-section .subnav-hero-headline {
    color: #fefefe;
  }

  .subnav-hero-headline {
    font-family: 'Raleway', sans-serif;
  }
  
  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }
  
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #fefefe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }
  
  .subnav-hero-subnav li a.is-active {
    background: rgba(254, 254, 254, 0.15);
  }
  
  .subnav-hero-subnav li a:hover {
    background: rgba(254, 254, 254, 0.15);
  }
  